parameters:
  level: 8
  paths:
    - src
    - tests
  ignoreErrors:
    - '#missingType.iterableValue#'
  reportUnmatchedIgnoredErrors: false
  
includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon 